footer {
    background: #35424a;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

/* Media Queries para Responsividad en el Footer */

/* Para pantallas medianas como tabletas */
@media (max-width: 1024px) {
    footer {
        padding: 15px 0; /* Ajustar el padding para pantallas medianas */
    }
}

/* Para pantallas más pequeñas como smartphones */
@media (max-width: 768px) {
    footer {
        padding: 20px 0; /* Un poco más de padding para smartphones */
    }
}

/* Para pantallas muy pequeñas (smartphones en orientación vertical) */
@media (max-width: 480px) {
    footer {
        padding: 25px 0; /* Aumentar un poco el padding para pantallas pequeñas */
        font-size: 14px; /* Reducir el tamaño de la fuente para que se ajuste mejor */
    }
}
